{
    "parser": "@typescript-eslint/parser",
    "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
    "plugins": ["@typescript-eslint"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "import/no-extraneous-dependencies": ["off"],
        "no-unused-vars": "warn",
        "global-require": "off",
        "no-use-before-define": "off",
        "import/extensions": ["warn", "never"],
        "import/prefer-default-export": "off",
        "import/no-unresolved": "off",
        "camelcase": "off",
        "react/prop-types": [0],
        "react/jsx-filename-extension": [
            "warn",
            {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        ]
    }
}
